.auth_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.auth_form {
    margin: 0 auto;

}

.form__span {
    color: var(--gray);
    font-size: 20px;
}

.button_span {
    color: var(--gray);
    font-size: 10px;
}

.mail_flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_footer {
    color: var(--dark);
    font-size: 17px;
}