.header__logo {
    color: var(--primary);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
    padding-left: 100px;
    cursor: pointer;
    text-decoration: none;
}

.header__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.header__layout {
    height: 80px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header__menu-link {
    color:var(--dark);
    font-weight: 400;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}


.header__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-right: 100px;
    cursor: pointer;

}

.header__link {
    color: var(--dark);
    text-decoration: none;
}



